/* Généralité */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  a{
    text-decoration: none;
  }

  a:hover{
      color: red;
  }
  
  
  .flex{
    display: flex;
  }
  
  body{
    line-height: 1.4;
  }
  
  /* header */
  
  header{
    justify-content: space-around;
    width: 100%;
  }
  
  .menu{
    width: 100%;
    flex-direction: column;
  }
  
  .menuhaut{
    justify-content:space-between;
    align-items: center;
    height: 135px;
    width: 100%;
  }
  
  nav a{
    color: black;
  }
  
  nav {
    justify-content: space-between;
    font-size: 35px;
    width: 100%;
  }
  
  .noel{
    font-family: 'Shrikhand', cursive;
    font-weight: bold;
  }
  
  .tel{
    display: none;
  }
  
  /* Pubs */
  
  .pub{
    margin-top: 30px;
  }
  
  .pub img{
    width: 100%;
  }

  /* Categorie */

  .categorie{
      margin-top: 61px;
  }

  .categorie h1{
      font-family: 'Shrikhand', cursive;
      font-size: 60px;
      text-align: center;
  }

  .catdistance{
      justify-content: space-around;
      margin-top: 56px;
  }

  /* footer */

  footer{
    margin-top: 33px;
    background: black;
    color: white;
    font-size: 40px;
    padding: 19px 67px;
  }

  footer h2{
      color: red;
      font-family: 'Shrikhand', cursive;
  }

  .copyright{
      text-align: center;
      margin-top: 10px;
      font-size: 30px;
  }


  
  /* media tel */
  
   @media (max-width: 768px){
  
    /* menu */
  
     .tel{
       display: block;
     }
  
     .ordi{
       display: none;
     }
  
     .menutel{
       display: flex;
       justify-content: space-between;
     }
  
  .barre{
    height: 31px;
  }
  
  /* menu hamburger */

    #navburger a{
      background: white;
    }
  
     #navburger div{
      display       : flex;
      flex-direction: column;
      position: absolute;
      margin  : 0;
      right   : 0;
      top     : 20%;
      
    ;
      min-width: 50vw;
      height   : 40vh;
     }
  
     #root {
      position: relative;
      overflow-x: hidden;
  }
  
  
   #navburger {
  
    display : block;
    position: absolute;
    top     : 0;
    margin  : 0;
    width   : 100vw;
    height  : 100vh;
  
    z-index: 99;
  
    transform-origin: 0% 0%;
    transform       : translate(200%, 0);
  
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  
   }
  
   #navburger.open {
    transform: none;
    position : fixed;
  }
  
  #burger span{
    display      : block;
          position     : absolute;
          height       : 4px;
          width        : 100%;
          margin-bottom: 5px;
          background   : #000000;
          border-radius: 3px;
          z-index      : 100;
          left         : 0;
  
          transform : rotate(0deg);
          transition: .25s ease-in-out;
   }
  
  #burger{
  
    display    : block;
    position   : relative;
    margin     : 0 16px;
    width      : 33px;
    height     : 28px;
    z-index    : 100;
          user-select: none;
          cursor     : pointer;
  }
  
  #burger span:nth-child(1) {
    top             : 0px;
    transform-origin: left top;
  }
  #burger span:nth-child(2) {
    top             : 12px;
    transform-origin: left center;
  }
  #burger span:nth-child(3) {
    top             : 24px;
    transform-origin: left bottom;
  }
  
  #burger.open span:nth-child(1) {
    width    : 110%;
    transform: rotate(45deg);
  }
  #burger.open span:nth-child(2) {
    width  : 0%;
    opacity: 0;
  }
  #burger.open span:nth-child(3) {
    width    : 110%;
    transform: rotate(-45deg);
  }

  /* pub */

  .pub img{
      
    height: 30vh;
  }
  
  /* Catégorie */

  .catdistance{
      align-items: center;
  }

  .nouv{
      align-items: center;
  }

  .categorie h1{
      font-size: 20px;
  }

  .HFE{
      flex-direction: column;
      gap: 49px;
  }

  /* footer */

  footer{
      font-size: 30px;
      padding: 16px 0;
  }

  .copyright{
      font-size: 20px;
  }

  }

